<h1>Chistes</h1>
  
  <div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each jokes as |joke|}}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{joke.title}}</h5>
            <p class="card-text">{{joke.start}}</p>
            <p class="card-text">{{joke.end}}</p>
            <a class="btn btn-primary" href="/{{joke.id}}" role="button">Amplia el chiste</a>
            <button class="btn btn-danger" value="{{joke.id}}">Borrar</button>
            <a class="btn btn-secondary" href="/{{joke.id}}/edit" role="button">Modifica el chiste</a>
          </div>
        </div>
      </div>
    {{/each}}
</div>

  <script src="/javascripts/script.js"></script>